body, div, input {
	font-family: tahoma; 
}

.title { 
	margin-bottom: 30px; 
	font-size: 3.5em; 
	color: #395237 
}

.info-box { 
	padding: 10px;
	border-bottom: 1px solid #ddd; 
	border-top: 1px solid #ddd; 
	margin-top: -1px; 
}

.text-desc { 
	font-size: 13px
}

.timestamp { 
	font-size: 11px; 
	color: #aaa
}

.padd-bottom { 
	padding-bottom: 30px 
}

.profile {
	width: 26px;
	height: 26px;
	margin-right: 6px
}

.embedded img {
	border: 1px solid #eee;
	margin: 12px auto;
	max-width: 120px
}

.more-results {
	margin-top: 10px
}

.define div a, .abs div a {
	font-size: 13px
}

.load-text {
	padding: 30px
}
.text-user a {
	color: #333;
	font-weight: bold
}

.url, .via {
	font-size: 11px;
	color: #555
}

.favicon {
	width: 12px;
	height: 12px
}